{# templates/base.html #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gist</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="{{ url_for('static', path='/css/main.css') }}"
      rel="stylesheet"
    />
  </head>

  <body class="bg-white dark:bg-black-900 dark:text-white">
    <div class="border-b dark:border-black-600 dark:bg-black-950">
      <div class="container mx-auto px-5 p-2 flex space-x-2 mb-1">
        <div class="" style="align-self: center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#000"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-square dark:stroke-white"
          >
            <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
          </svg>
        </div>

        <div class="text-2xl flex-grow">
          <a href="/" class="text-black dark:text-white">gist</a>
        </div>

        <div class="w-96">
          <input
            type="text"
            name="query"
            placeholder="Search all your gists"
            hx-get="/entries?htmx=true"
            hx-include="[name='query']"
            hx-target="#search-results"
            hx-trigger="keyup changed delay:500ms"
            hx-params="*"
          />
        </div>
      </div>
    </div>

    <div id="search-results">{% block content %} {% endblock content %}</div>

    <script src="{{ url_for('static', path='/js/htmx.org@1.9.10') }}"></script>
  </body>
</html>
