{% if entries %} {% for entry in entries %}
<div class="mb-4 mt-4">
  <div class="font-semibold">
    <a href="/{{ entry.id }}">{{ entry.description }}</a>
  </div>
  <div class="text-sm text-gray-600 dark:text-gray-400 mb-1">
    Created {{ entry.created_at|humanize_naturaltime() }}
  </div>
  <div
    class="px-5 py-2 border border-gray-300 bg-gray-50 rounded-md dark:bg-black-900 dark:border-black-500"
  >
    {{ entry.render(full=False)|safe }}
  </div>
</div>
{% endfor %} {% if has_more_entries %}
<div id="load-more-entries" class="flex flex-col items-center">
  <button
    class="p-3 mb-3 btn-primary"
    hx-get="/entries?query={{query}}&skip={{ skip + limit}}"
    hx-target="#load-more-entries"
    hx-swap="outerHTML"
  >
    Load more entries...
  </button>
</div>
{% endif %} {% else %} No results. {% endif %}
